header {
	background-color: orange;
	margin-bottom: 20px;
}

.headertxt {
	margin-left: 40px;
}

.char-box {
	border: 0.5px solid gray;
	margin-bottom: 20px;
}

.picture {
	width: 100%;
}

h3, p {
	margin-left: 6px;
}
